{% extends 'shop/basic.html' %}
{% load static %}
{% block title %} ABOUT {% endblock %}

{% block body %}

<!--Section-1 About-->
<section class="breadcrumb_area">
<div class="container">
<div class="breadcrumb_text">
<h6 class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">COVID-19 the disease</h6>
<h3 class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">About the Coronavirus</h3>
<ul class="nav justify-content-center wow fadeInUp" data-wow-delay="0.3s">
<li><a href="{% url 'ShopHome' %}">Home</a></li>
<li><a href="{% url 'ShopAbout' %}">About</a></li>

</ul>

</div>
</div>
</section>
 <!--Section-1 End-->

<!--Section-2 Pandemic of CV-->
<section class="home_about_corona about_corona_aera">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="home_ab_img">
<img class="wow fadeInUp" data-wow-delay="500ms" src="{% static 'shop/images/about/about_man.png' %}" alt="" style="visibility: visible; animation-delay: 500ms; animation-name: fadeInUp;">
</div>
</div>
<div class="col-lg-6">
<div class="home_ab_text">
<div class="home_ab_text_inner">
<div class="home_ab_item">
<h4 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Pandemic of Coronavirus Disease 2019-2020</h4>
<p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
The 2019–20 coronavirus pandemic is an ongoing pandemic of
coronavirus disease 2019 (COVID-19), caused by severe
acute respiratory syndrome coronavirus 2 (SARS-CoV-2). The
outbreak was first identified in Wuhan, Hubei, China, in
December 2019. The World Health Organization (WHO)
declared the outbreak to be a Public Health Emergency of
International Concern on 30 January 2020 and recognized it
as a pandemic on 11 March.
</p>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<!--Section-2 End -->


<!--Section-3 Start what is covid-->
<section class="about_cronacvirus_promo_area">
<ul class="list-unstyled shap_img">
<li><img src="{% static 'shop/images/about/promo_bg_shap3.png' %}" alt=""></li>
<li><img src="{% static 'shop/images/about/promo_bg_shap2.png' %}" alt=""></li>
<li><img src="{% static 'shop/images/about/promo_bg_shap1.png' %}" alt=""></li>
</ul>
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="coronavirus_promo_content">
<h5>What are Coronavirus?</h5>
<h2>What is the COVID-19?</h2>
<p>
COVID-19 is a new strain of coronavirus that has not been
previously identified in humans. It was first identified in
Wuhan, Hubei Province, China, where it has caused a large and
ongoing outbreak. It has since spread more widely in China.
Cases have since been identified in several other countries.
The COVID-19 virus is closely related to a bat coronavirus.
</p>
<div class="row home_option">
<div class="col-lg-6 col-sm-6">
<div class="media">
<div class="d-flex">
<i class="linearicons-shield-check"></i>
</div>
<div class="media-body">
<h4>Protection</h4>
<p>How to protect yourself</p>
</div>
</div>
</div>
<div class="col-lg-6 col-sm-6">
<div class="media">
<div class="d-flex">
<i class="linearicons-pulse"></i>
</div>
<div class="media-body">
<h4>Symptoms</h4>
<p>Check basic symptoms</p>
</div>
</div>
</div>
<div class="col-lg-6 col-sm-6">
<div class="media">
<div class="d-flex">
<i class="linearicons-bubbles"></i>
</div>
<div class="media-body">
<h4>Appointment</h4>
<p>Get online consultation</p>
</div>
</div>
</div>
<div class="col-lg-6 col-sm-6">
<div class="media">
<div class="d-flex">
<i class="linearicons-document2"></i>
</div>
<div class="media-body">
<h4>About COVID-19</h4>
<p>Read more about coronavirus</p>
</div>
</div>
</div>
</div>
<h3>SARS-CoV2- is closely related to the SARS-CoV</h3>
<p>
It is thought to have a zoonotic origin. Genetic analysis has
revealed that the coronavirus genetically clusters with the
genus Betacoronavirus, in subgenus Sarbecovirus (lineage B)
together with two bat-derived strains. It is 96% identical at
the whole genome level to other bat coronavirus samples
(BatCov RaTG13). In February 2020, Chinese researchers found
that there is only one amino acid difference in certain parts
of the genome sequences between the viruses from pangolins and
those from humans, however, whole-genome comparison to date
found at most 92%...
</p>

</div>
</div>
</div>
</div>
<div class="bg_img">
<img class="shap" src="{% static 'shop/images/about/about_promo_bg.png' %}" alt="">
<ul class="list-unstyled shap_img_two">
<li><img src="{% static 'shop/images/about/promo_bg_shap8.png' %}" alt=""></li>
<li><img src="{% static 'shop/images/about/promo_bg_shap7.png' %}" alt=""></li>
<li><img src="{% static 'shop/images/about/promo_bg_shap6.png' %}" alt=""></li>
<li data-parallax="{&quot;y&quot;: 50}" style="transform:translate3d(0px, 37.082px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(0px, 37.082px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); "><img src="{% static 'shop/images/about/promo_bg_shap5.png' %}" alt=""></li>
<li data-parallax="{&quot;x&quot;: 50}" style="transform:translate3d(49.737px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(49.737px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); "><img src="{% static 'shop/images/about/promo_bg_shap4.png' %}" alt=""></li>
</ul>
</div>
</section>
<!--Section-3 End-->



<!--Section-4 transmitting basic symptoms-->
<section class="about_features_area">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeIn;">
<div class="about_features_item">
<div class="round_icon">
<img src="{% static 'shop/images/about/about_features_img1.png' %}" alt="">
</div>
<h5>Transmitting</h5>
<h3>How it is spreading?</h3>
<p>
The virus is mainly spread during close contact and by
respiratory droplets produced when people cough or sneeze.
Respiratory droplets may be produced during breathing but the
virus is not generally airborne.
</p>
</div>
</div>
<div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="500ms" style="visibility: visible; animation-delay: 500ms; animation-name: fadeIn;">
<div class="about_features_item">
<div class="round_icon">
<img src="{% static 'shop/images/about/about_features_img2.png' %}" alt="">
</div>
<h5>Basic Symptoms</h5>
<h3>What are the symptoms?</h3>
<p>
The virus is mainly spread during close contact and by
respiratory droplets produced when people cough or sneeze.
Respiratory droplets may be produced during breathing but the
virus is not generally airborne.
</p>
<a class="text_btn" href="{% url 'ShopSymptoms' %}">Read more <i class="linearicons-arrow-right"></i></a>
</div>
</div>
<div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="600ms" style="visibility: visible; animation-delay: 600ms; animation-name: fadeIn;">
<div class="about_features_item">
<div class="round_icon">
<img src="{% static 'shop/images/about/about_features_img3.png' %}" alt="">
</div>
<h5>Threatment</h5>
<h3>How to prevent?</h3>
<p>
The virus is mainly spread during close contact and by
respiratory droplets produced when people cough or sneeze.
Respiratory droplets may be produced during breathing but the
virus is not generally airborne.
</p>
<a class="text_btn" href="{% url 'ShopPrevention' %}">Read more <i class="linearicons-arrow-right"></i></a>
</div>
</div>
</div>
</div>
</section>
<!--Section-4 End-->

 {% endblock %}

