{% extends 'shop/basic.html' %}
{% load static %}
{% block title %} TYPICAL SYMPTOMS {% endblock %}

{% block body %}  

<!--Section-1 Start SYMPTOMS of CV-->
<section class="breadcrumb_area">
<div class="container">
<div class="breadcrumb_text">
<h6 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Symptoms of COVID-19</h6>
<h3 class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">What are the basic symptoms?</h3>
<ul class="nav justify-content-center wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
<li><a href="{% url 'ShopHome' %}">Home</a></li>
<li><a href="{% url 'ShopPrevention' %}">prevention</a></li>
<li><a href="{% url 'ShopSymptoms' %}">What are the basic symptoms?</a></li>
</ul>
</div>
</div>
</section>
<!--Section-1 End-->


<!--Section-2 Start About CV-->
<section class="home_about_corona about_corona_aera">
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="home_ab_img text-center apps_craft_animation" style="transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
<img class="wow fadeInUp" data-wow-delay="400ms" src="{% static 'shop/images/symptom/man_img.png' %}" alt="" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
<img class="covid_img one" src="{% static 'shop/images/symptom/covid1.png' %}" alt="">
<img class="covid_img two" src="{% static 'shop/images/symptom/covid2.png' %}" alt="">
<img class="covid_img three" src="{% static 'shop/images/symptom/covid3.png' %}" alt="">
<img class="covid_img four" src="{% static 'shop/images/symptom/covid4.png' %}" alt="">
<div class="covid_img five">
<img class="layer layer2" data-depth="0.5" src="{% static 'shop/images/symptom/covid5.png' %}" alt="" style="position: relative; display: block; left: 0px; top: 0px; transform: translate3d(-18.0681px, -15.0548px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
</div>
<div class="covid_img six">
<img class="layer layer2" data-depth="0.3" src="{% static 'shop/images/symptom/covid6.png' %}" alt="" style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(-10.8408px, -9.03288px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
</div>
<img class="covid_img seven" src="{% static 'shop/images/symptom/covid7.png' %}" alt="">
<img class="covid_img eight" src="{% static 'shop/images/symptom/covid8.png' %}" alt="">
</div>
</div>
<div class="col-lg-6">
<div class="home_ab_text">
<div class="home_ab_text_inner symptoms_about_inner">
<div class="home_ab_item">
<h6 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Check yourself</h6>
<h4 class="wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Basic Symptoms</h4>
<p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
COVID-19 typically causes flu-like symptoms including a
fever and cough. In some patients - particularly the
elderly and others with other chronic health conditions -
these symptoms can develop into pneumonia, with chest
tightness, chest pain, and shortness of breath.
</p>
<p class="wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
Respiratory droplets may also be produced during breathing
out, including when talking, though the virus is not
generally airborne. These droplets can land in the mouths
or noses of people who are nearby or possibly be inhaled
into the lungs. Some medical procedures such as intubation
and cardiopulmonary...
</p>
 </div>
</div>
</div>
</div>
</div>
</div>
</section>
<!--Section-2 End-->


<!--Section-3 Start Recommend-->
<section class="isolation_area isolation_margin_bottom">
<div class="container">
<div class="main_title text-center white">
<h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Recommend Self-isolation</h2>
<p class="wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
Self-isolation at home has been recommended for those diagnosed
with COVID-19 and those who suspect they have been infected.
</p>
</div>
<div class="row">
<div class="col-lg-4 col-md-6">
<div class="media isolation_item wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
<div class="isolation_person_img">
<img src="{% static 'shop/images/symptom/isolation_man.png' %}" alt="">
</div>
<div class="media-body">
<h5>Coughing, sneezing and sore throat</h5>
<p>
Fever is a key symptom, experts say. Don't fixate on a
number, but know it's really not a fever until your
temperature reaches at least 39°C.
</p>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="media isolation_item wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
<div class="isolation_person_img">
<img src="{% static 'shop/images/symptom/isolation_man.png' %}" alt="">
</div>
<div class="media-body">
<h5>Hot fever and shortness breath</h5>
<p>
Fever is a key symptom, experts say. Don't fixate on a
number, but know it's really not a fever until your
temperature reaches at least 39°C.
</p>

</div>
</div>
</div>
<div class="col-lg-4 col-md-6">
<div class="media isolation_item wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
<div class="isolation_person_img">
<img src="{% static 'shop/images/symptom/isolation_man.png' %}" alt="">
</div>
<div class="media-body">
<h5>Strong headache and chills</h5>
<p>
Fever is a key symptom, experts say. Don't fixate on a
number, but know it's really not a fever until your
temperature reaches at least 39°C.
</p>
</div>
</div>
</div>
</div>
</div>
</section>
<!--Section-3 End-->

<!--Section-4 Start Symptoms-->
<section class="symptoms_area" >
<div class="container" >
<ul class="nav image_list">
<li><img src="{% static 'shop/images/logoc.png' %}" alt=""></li>
<li><img src="{% static 'shop/images/symptoms-user/sm-2.png' %}" alt=""></li>
<li><img src="{% static 'shop/images/covid19.png' %}" alt=""></li>
</ul>

<div style="padding-top:20px;">
<h1 style="color:red;">Symptoms of COVID-19</h1>
<h2 style="color:green;">What are the basic symptoms?</h2>

</div>

<div class="row symptoms_inner">
<div class="col-lg-6 wow fadeInUp" data-wow-delay="400ms" style="visibility: visible; animation-delay: 400ms; animation-name: fadeInUp;">
<div class="symptoms_item">
<div class="media">
<div class="d-flex">
<img src="{% static 'shop/images/symptoms-user/symptoms-1.png' %}" alt="">
</div>
<div class="media-body">
<h4>High fever</h4>
<p>
Fever is a key symptom, experts say. Don't fixate on a
number, but know it's not a fever until temperature
reaches at least 39°C.
</p>
</div>
</div>
</div>
</div>
<div class="col-lg-6 wow fadeInUp" data-wow-delay="500ms" style="visibility: visible; animation-delay: 500ms; animation-name: fadeInUp;">
<div class="symptoms_item">
<div class="media">
<div class="d-flex">
<img src="{% static 'shop/images/symptoms-user/symptoms-2.png' %}" alt="">
</div>
<div class="media-body">
<h4>Sortness of Breath</h4>
<p>
You feel hot to touch on your chest or back It is a common
sign and also may appear in 2-10 days if you affected.
</p>
</div>
</div>
</div>
</div>
<div class="col-lg-6 wow fadeInUp" data-wow-delay="600ms" style="visibility: visible; animation-delay: 600ms; animation-name: fadeInUp;">
<div class="symptoms_item">
<div class="media">
<div class="d-flex">
<img src="{% static 'shop/images/symptoms-user/symptoms-3.png' %}" alt="">
</div>
<div class="media-body">
<h4>Dry Cough</h4>
<p>
Coughing is another key symptom, but it's not just any
cough, said Schaffner. It should be a dry cough that you
feel in your chest.
</p>
</div>
</div>
</div>
</div>
<div class="col-lg-6 wow fadeInUp" data-wow-delay="700ms" style="visibility: visible; animation-delay: 700ms; animation-name: fadeInUp;">
<div class="symptoms_item">
<div class="media">
<div class="d-flex">
<img src="{% static 'shop/images/symptoms-user/symptoms-4.png' %}" alt="">
</div>
<div class="media-body">
<h4>Headache</h4>
<p>
Around 1 out of every 6 people who gets COVID-19 becomes
seriously ill and develops difficulty breathing or
shortness of breath.
</p>
</div>
</div>
</div>
</div>
</div>
 </div>
</section>
<!--Section-4 End-->

<!--Section-5 Start Affected-->
<section class="check_now_area check_now_box full_widget_check">
<div class="container">
<div class="row m-0 justify-content-between">
<div class="left">
<div class="media">
<div class="d-flex">
<img src="{% static 'shop/images/check-4.png' %}" alt="">
<img src="{% static 'shop/images/check-5.png' %}" alt="">
<img src="{% static 'shop/images/check-6.png' %}" alt="">
</div>
<div class="media-body">
<h4>Think you might be affected?</h4>
<p>
Try our simple coronavirus checker to find out what you need
to do.
</p>
</div>
</div>
</div>
</div>
</div>
</section>
<!--Section-5 End-->
{% endblock %}