{% extends 'shop/basic.html' %}
{% load static %}
{% block title %} FACE MASK TIPS {% endblock %}

{% block body %}
<section class="search_page_area">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="search_inner">
<div class="media search_item">
<img src="{% static 'shop/images/search/m1.png' %}" alt="">
<div class="media-body">
<a href="#">
<h3>Wear your Mask Correctly</h3>
</a>
<p>Put the mask over your nose and mouth and secure it under your chin.
Fit the mask snugly against the sides of your face, slipping the loops over your ears or tying the strings behind your head.
If you have to continually adjust your mask, it doesn’t fit properly, and you might need to find a different mask type or brand.
</p>
</div>
</div>
<div class="media search_item">
<img src="{% static 'shop/images/search/m2.jpg' %}" width="270" height="190" alt="">
<div class="media-body">
<a href="#">
<h3>Take Off Your Mask Carefully, When You’re Home?</h3>
</a>
<p>Untie the strings behind your head or stretch the ear loops
Handle only by the ear loops or ties
Place mask in the washing machine (learn more about how to wash masks)
Be careful not to touch your eyes, nose, and mouth when removing and wash your hands immediately after removing.</p>
</div>
</div>
<div class="media search_item">
<img src="{% static 'shop/images/search/m3.jpg' %}" width="270" height="190" alt="">
<div class="media-body">
<a href="#">
<h3>Two important ways to make sure your mask works the best it can</h3>
</a>
<p>1)  Make sure your mask fits snugly against your face. Gaps can let air with respiratory 
droplets leak in and out around the edges of the mask</p>
<p>2)  Pick a mask with layers to keep your respiratory droplets in and others’ out.
 A mask with layers will stop more respiratory droplets getting inside your mask or escaping from your
  mask if you are sick.</p>

</div>
</div>
<div class="media search_item">
<img src="{% static 'shop/images/search/m4.jpg' %}" width="270" height="190" alt="">
<div class="media-body">
 <a href="#">
<h3>Choose a mask with a nose wire</h3>
</a>
<p>A nose wire is a metal strip along the top of the mask
Nose wires prevent air from leaking out of the top of the mask.
Bend the nose wire over your nose to fit close to your face.</p>
</div>
</div>
<div class="media search_item">
<img src="{% static 'shop/images/search/m5.jpg' %}" width="270" height="190" alt="">
<div class="media-body">
<a href="#">
<h3>Use a mask fitter or brace</h3>
</a>
<p>Use a mask fitter or brace over a disposable mask or a cloth mask to prevent air from leaking around 
the edges of the mask.</p>
</div>
</div>
<div class="media search_item">
<img src="{% static 'shop/images/search/m6.jpg' %}" width="270" height="190" alt="">
<div class="media-body">
<a href="#">
<h3>Check that it fits snugly over your nose, mouth, and chin</h3>
</a>
<p>Check for gaps by cupping your hands around the outside edges of the mask.
Make sure no air is flowing from the area near your eyes or from the sides of the mask.
If the mask has a good fit, you will feel warm air come through the front of the mask and may 
be able to see the mask material move in and out with each breath.</p>
</div>
</div>
<div class="media search_item">
<img src="{% static 'shop/images/search/m7.jpg' %}"  width="270" height="190" alt="">
<div class="media-body">
<a href="#">
<h3>Add layers of material</h3>
</a>
<p>2 ways to layer

Use a cloth mask that has multiple layers of fabric.
Wear a disposable mask underneath a cloth mask.
The cloth mask should push the edges of the disposable mask against your face.</p>
</div>
</div>
<div class="media search_item">
<img src="{% static 'shop/images/search/m8.jpg' %}" width="270" height="190" alt="">
<div class="media-body">
<a href="#">
<h3>Knot and tuck ear loops of a 3-ply mask</h3>
</a>
<p>Knot the ear loops of a 3-ply face mask where they join the edge of the mask
Fold and tuck the unneeded material under the edges</p>
</div>
</div>
<div class="media search_item">
<img src="{% static 'shop/images/search/m9.jpg' %}" width="270" height="190" alt="">
<div class="media-body">
<a href="#">
 <h3>Wear a Mask to Prevent Getting and Spreading COVID-19</h3>
</a>
<p>Wear a mask over your nose and mouth to help prevent getting and spreading COVID-19.
Wear a mask in public settings when around people who don’t live in your household, especially when indoors and when it may be difficult for you to stay six feet apart from people who don’t live with you.
Wear a mask correctly for maximum protection.
Wear your mask under your scarf, ski mask, or balaclava in cold weather</p>
</div>
</div>
</div>
<div class="row blog_pagination">
</div>
</div>

</div>
</div>
</section>

{% endblock %}