{% extends 'blog/basic.html' %}
{% load static %}

{% block title %} Blog Detail {% endblock %}


{% block body %}
<!--Section-1 Start-->
<section class="single_blog_img">
<div class="container">
<div class="single_blog_text">
<a class="tag" >Quarantine</a>
<h2>How to treat COVID-19 coronavirus at home?</h2>
<ul class="nav">
<li><a ><i class="linearicons-calendar-full"></i>Apr 18, 2020 </a></li>
<li><a ><i class="linearicons-bubbles"></i>22</a></li>
<li><a >by Sheryl Smith</a></li>
<li><a ><i class="linearicons-radio-button" style="color: #01cfbe;"></i>4 min
read</a></li>
</ul>
</div>
</div>
</section>
<!--Section-1 End-->


<!--Section-2 Start-->
<section class="single_blog_area">
<div class="container">
<div class="row single_blog_inner">
<div class="col-lg-12">
<div class="single_blog_text_inner">
<div class="single_first_text">
<h6>Medical experts around the world are working around the clock to develop a vaccine
for COVID-19 as it continues to spread around the globe. But how are vaccines made
and
when are we likely to have one for coronavirus? We all know that vaccines exist for
other
viruses, like flu, but COVID-19 is a new illness that experts haven't seen before.
</h6>
<div class="media">
<div class="d-flex">
<span>D</span>
</div>
<div class="media-body">
<p>r Diana Gall of Doctor 4 U, and Mr Parvinder Sagoo, pharmacist and clinical
advisor at Vaxxy, explain how vaccines are made, how coronavirus is being
mapped and when we will see a vaccine for Coronavirus COVID-19.
</p>
</div>
</div>
<p>A huge amount of misinformation about vaccines is often shared on social media,
causing unnecessary concern around their safety. Myths about vaccines causing autism
or containing heavy metals that can poison the body are scientifically unfounded.
Vaccines are safe and the best way we can protect the population from disease.
That's why the creation of a coronavirus vaccine is so important to control the
pandemic.
</p>
</div>
<div class="secand_part">
<h4>How are vaccines made?</h4>
<p>The most common way to make a vaccine involves using the virus antigen itself, Dr
Gall explains. "In any vaccine, the strain of virus that needs an immunisation must
be identified before anything can be done. However, once the strain is identified,
the antigen is isolated and either weakened or made inactive through a chemical
process," she
</p>
<h5>Virus proteins that are used to create vaccines are sometimes grown in cells that
come from chicken embryos, or alternatively, they can be grown in a bioreactor like
 a Petri dish.
</h5>
<p>When a virus is weakened or inactive, it can't reproduce in order to cause illness,
but the body's immune system can still create antibodies to fight it off. That way,
if you do come into contact with an active form of the virus, your body should be
equipped to fight it before it makes you ill.
</p>
</div>
<div class="secand_part">
<h4>Vaccines in an outbreak</h4>
<p>During unprecedented times, like the current coronavirus outbreak, vaccines must
still go through the same process, but because the demand is higher a fast-tracked
process is usually possible.
</p>
<p>"Right now, health professionals around the globe are racing against the clock to get
a vaccine for this virus. However, the issue is that creating a vaccine takes time.
However, the fact that all efforts from health professionals around the globe will
be focused on getting a vaccine could quicken the process," Mr Sagoo says.
</p>
<p>But in order to do this, scientists need to identify the exact strain of the virus
causing the pandemic.
</p>
<p>"Before any vaccine can be produced, the exact strain causing the epidemic or
pandemic must be identified and isolated, as with any other vaccine production," Dr
Gall explains.
</p>
<img class="img-fluid" src="assets/images/blog/single-blog-1.html" alt="">
<p class="source">Source: The Guardian</p>
<p>"Unfortunately, even in cases where an immunisation is desperately needed, it can
take a long time to create one, and certain processes can only be accelerated so
much before safety is compromised.
</p>
<p>"Any vaccine, including those made for a mass outbreak, are produced in the same
ways. However, Moderna, the company behind one of the current vaccines being
trialled for COVID-19, uses mRNA technology - a faster method than traditional
vaccines."
</p>
<p>Messenger RNA (mRNA) is a molecule found in cells which carries DNA codes from the
nucleus to the cytoplasm, where a process called protein synthesis is carried out.
</p>
<p>"The DNA sequence of the virus is transcribed into mRNA, meaning that the actual
antigen of the virus itself isn't included in the vaccine,. Despite that, it still
contains everything that the body needs to create specific antibodies to fight off
the virus."
</p>
</div>
<div class="comment_box">
<h3 class="cm_title_br">Leave your reply</h3>
<form class="row contact_us_form appoinment_form" action="http://paul-themes.com/html/covid-19/contact_process.php" id="contactForm" novalidate="novalidate">
<div class="col-md-6">
<div class="form-group">
<input class="form-control" type="text" id="name" name="name" placeholder="">
<label><i class="linearicons-user"></i>Your Name</label>
</div>
</div>
 <div class="col-md-6">
<div class="form-group">
<input class="form-control" type="text" id="email" name="email" placeholder="">
<label><i class="linearicons-envelope-open"></i>Your Email
Address</label>
</div>
</div>
<div class="col-lg-12">
<div class="form-group">
<input class="form-control" type="text" id="subject" name="subject" placeholder="">
<label><i class="linearicons-document"></i>
Subject</label>
</div>
</div>
<div class="col-lg-12">
<div class="form-group">
<textarea name="message" id="message" cols="30" rows="10" class="form-control"></textarea>
<label><i class="linearicons-pencil4"></i>Your Message</label>
</div>
</div>
<div class="col-lg-12">
<div class="form-group checkbox_field">
<div class="checkbox">
<input type="checkbox" value="None" id="policy" name="check">
<label class="l_text" for="policy">Save my name, email, and website in
this browser for the next time I comment.</label>
</div>
<button type="submit" class="green_btn">
Post Comment
</button>
</div>
</div>
</form>
</div>
</div>
</div></div>
</div>
</section>
<!--Section -2 End-->

<!--Section-3 Start-->
<section class="check_now_area check_now_box full_widget_check">
<div class="container">
<div class="row m-0 justify-content-between">
<div class="left">
<div class="media">
<div class="d-flex">
<img src="{% static 'shop/images/check-4.png' %}" alt="">
<img src="{% static 'shop/images/check-5.png' %}" alt="">
<img src="{% static 'shop/images/check-6.png' %}" alt="">
</div>
<div class="media-body">
<h4>Think you might be affected?</h4>
<p>
Try our simple coronavirus checker to find out what you need
to do.
</p>
</div>
</div>
</div>
</div>
</div>
</section>
<!--Section-3 End-->
{% endblock %}
